body {
    background-color: #0A0606;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3 {
    color: #00ff00;
    -webkit-text-stroke: 1.5px #008b00;
    ;
}

h1 {
    text-decoration: dashed underline;
}

p {
    color: #00ff00;
    -webkit-text-stroke: 0.25px #d3d3d3;
}

nav {
    background-color: #009e00;
    padding: 10px 0px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 50px;
    -webkit-text-stroke: 1px #000000;
}

nav ul li a {
    text-decoration: dashed underline;
    font-weight: bold;
    font-size: x-large;
    color: #00ff00;
}

nav ul li a:visited {
    color: #9401b1;
}

nav ul li a:hover {
    color: #000000;
}

iframe {
    color: #00ff00;
    background-color: #009e00;
}

.resume-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

}